
.agents
skills-lock.json
.github/
.opencl_cache/
.refactor/
.vscode/
logs/
build/
build_rel/
docs/ecm/
test/bench

*/__pycache__/
*.save
*-*signature.txt

# Android Studio apk
Android/ECM/app/debug/
Android/ECM/app/release/
