
.agents
skills-lock.json
.github/
.opencl_cache/
.refactor/
.vscode/
logs/
docs/ecm/
test/bench

# build
build/
build_rel/
build_cuda/
build_cuda_cmake/

**/__pycache__/
*.save
*-*signature.txt

# CGBN
cgbn/

# Android Studio apk
Android/ECM/app/debug/
Android/ECM/app/release/

# log
tools/log_parser/example
